body {
    background: #352f5b;
}

body {
    overflow-x: hidden!important;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
        
}

body::-webkit-scrollbar-thumb {
    background-color: #5967a4;
    border-radius: 10px;
}

h1 span {
    font-size: 12px;
    color: #ccc;
}

.container {
    max-width: 700px;
}

form input[type=text],
form input[type=text]:focus {
    color: #fff;
    border: none;
    background: rgba(0,0,0,0.2);
    max-width: 700px;
}

form input[type=submit] {
    width: 100%;
    padding: 5px 0;
    color: #2A2649;
    font-weight: bold;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .4s;
}

form input[type=submit]:hover {
    background-color: #ccc;
} 

.todos li {
    background: #423a6f;
    transition: .4s;
}

.todos li:hover {
    background-color: #2A2649;
}

.task-name, .edit-task-name {
    width: 79%;
    overflow: auto;
    background-color: transparent;
    cursor: initial;
    user-select: initial;
}

@media (max-width: 315px) {
    .task-name, .edit-task-name {
        width: 55%!important;
    }
    .options:before {
        left: -10px!important
    }
}

@media (min-width: 316px) and (max-width: 355px) {
    .task-name, .edit-task-name {
        width: 58%!important;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 356px) and (max-width: 400px) {
    .task-name, .edit-task-name {
        width: 62%;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 401px) and (max-width: 450px) {
    .task-name, .edit-task-name {
        width: 67%;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 451px) and (max-width: 500px) {
    .task-name, .edit-task-name {
        width: 70%;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 501px) and (max-width: 550px) {
    .task-name, .edit-task-name {
        width: 72%;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 551px) and (max-width: 600px) {
    .task-name, .edit-task-name {
        width: 77%;
    }

    .options:before {
        left: -10px!important
    }
}

@media (min-width: 601px) and (max-width: 700px) {
    .task-name, .edit-task-name {
        width: 80%;
    }

    .options:before {
        left: -10px!important
    }
}

.edit-task-name {
    display: none;
    border: none;
    outline: none;
    padding: 0;
    color: inherit;
    height: 22px;
}

.task-name::-webkit-scrollbar, .edit-task-name::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.options {
    position: relative;
}

.options:before {
    content: "";
    height: 15px;
    width: 1px;
    background: #6c757d;
    position: absolute;
    left: -35px;
    top: 65%;
}

.delete, .edit, .drag {
    cursor: pointer;
    position: relative;
    top: 50%;
    z-index: 9999;
}

.drag {
    cursor: move;
    color: #352f5b;
    transition: .4s;
}

.todos li:hover .drag {
    color: inherit;
}

.filtered {
    display: none !important;
}

.if-edit-task {
    position: relative;
}

.if-edit-task .edit-text {
    cursor: pointer;
    position: relative;
    z-index: 9999;
}

.if-edit-task .edit-text:hover + span {
    opacity: 1;
    display: inline;
}

.if-edit-task .edit-date {
    position: absolute;
    bottom: 16px;
    left: -15px;
    width: max-content;
    padding: 3px;
    display: none;
    opacity: 0;
    z-index: 999;
    transition: .4s; 
}

.delete-box .cancel-btn, .delete-box .delete-btn,
.danger-zone .delete-all-tasks-btn,
.danger-zone .delete-all-box .delete-all-btn,
.danger-zone .delete-all-box .cancel-btn {
    width: 48%;
    border: none;
    outline: none;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 0;
    cursor: pointer;
    transition: .4s;
}

.delete-box .cancel-btn,
.danger-zone .delete-all-box .cancel-btn {
    margin-right: 2%;
}

.delete-box .cancel-btn:hover,
.danger-zone .delete-all-box .cancel-btn:hover {
    background: #ccc;
}

.delete-box .delete-btn,
.danger-zone .delete-all-box .delete-all-btn,
.danger-zone .delete-all-tasks-btn {
    color: #fff;
    background: #dc3545;
}

.delete-box .delete-btn:hover,
.danger-zone .delete-all-tasks-btn:hover {
    background-color: #e63946;
}

.danger-zone .delete-all-tasks-btn {
    width: initial;
    padding: 5px;
}

.danger-zone .delete-all-box .delete-all-text {
    color: #fff;
    font-weight: bold;
}

footer {
    margin: 100px auto;
    text-align: center;
    font-size: 18px;
    color: #ccc;
    padding: 5px
  }
  
footer p {
    margin-top: 8px;
    font-size: 14px;
}
  
footer p a {
    padding: 2px;
    border-radius: 5px;
    text-decoration: none!important;
    color: inherit!important;
}

footer p a span {
    color: #fff;
}

footer .version-num {
    font-size: 12px;
    animation: lighting 2s infinite;
}

footer .version-num a {
    text-decoration: none;
    color: #ccc;
}

@keyframes lighting {
    0% {opacity: 1;}
    50% {opacity: .4;}
    100% {opacity: 1;} 
}